<!-- <app-bookform></app-bookform> -->
<div>
    <p>Digital Books</p>
<nav>
    <a class="btn btn-outline-dark btn-sm" routerLink='/'>Home</a>
    <a class="btn btn-outline-dark btn-sm" routerLink='/bookform'>Search Books</a>
    <a class="btn btn-outline-dark btn-sm " routerLink='/savebook'>CreateBooks</a>
    <a class="btn btn-outline-dark btn-sm " routerLink='/getallauthorbooks'>Get All Author Books</a>
    <a class="btn btn-outline-dark btn-sm" routerLink='/' (click)="toggleLoggedIn()" >{{loggedIn ? 'Signout' : 'Signin'}}</a>
    <!-- <div>
        <button (click)="toggleLoggedIn()">Sign{{loggedIn ? 'out' : 'in'}}</button>
        <div>Logged In: {{loggedIn}}</div>
    </div> -->
</nav>
<router-outlet></router-outlet>
</div>