<!-- <app-bookform></app-bookform> -->
<div>
    <div class="titlebar">
        <p>Digital Books</p>
        <nav class="breadcrumb bread-primary ">
            <a class="btn btn-outline-dark btn-block" routerLink='/'>Home</a>
            <a class="btn btn-outline-dark btn-block" routerLink='/bookform'>Search Books</a>
            <a class="btn btn-outline-dark btn-block " routerLink='/savebook'>CreateBooks</a>
            <a class="btn btn-outline-dark btn-block " routerLink='/getallauthorbooks'>Get All Author Books</a>
            <a class="btn btn-outline-dark btn-block " routerLink="/register">Sign Up</a>
            <a class="btn btn-outline-dark btn-block" routerLink='/' (click)="toggleLoggedIn()" >{{loggedIn ? 'Signout' : 'Signin'}}</a>
        </nav>
    </div>
<router-outlet></router-outlet>
</div>
<div *ngIf="referenceName.isInitialHome==true">
    <img
    id="profile-img"
    src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=990&q=80"
    class="center rounded mx-auto d-block"/>
</div>
