<!-- <app-bookform></app-bookform> -->
<div>
  <div style="display: inline-block; background-color: #e3f2fd;" class="navbar navbar-expand navbar-light">
    <p>Digital Books</p>
  </div>
    <nav class="navbar navbar-expand navbar-light">
        <a class="navbar-brand" routerLink='/' (click)='referenceName.isInitialHome=true'>Digital Books</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item" *ngIf="showSearchBooks">
            <a class="nav-link" routerLink="/bookform">Search Books</a>
          </li>
          <li class="nav-item" *ngIf="showPurchasedBooks">
            <a class="nav-link" routerLink="/purchasedbooks">Purchased Books</a>
          </li>
          <li class="nav-item" *ngIf="showCreateBooks">
            <a class="nav-link" routerLink="/savebook">CreateBooks</a>
          </li>
          <li class="nav-item" *ngIf="showGetAllAuthorBooks">
            <a class="nav-link" routerLink="/getallauthorbooks">Get All Author Books</a>
          </li>
        </ul>
    
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
        </li>
    </ul>
  
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
    </ul>
    </nav>
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>
</div>
<br>
<div *ngIf="referenceName.isInitialHome==true">
    <img
    id="profile-img"
    src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=990&q=80"
    class="center rounded mx-auto d-block"/>
</div>
